.App {
  text-align: center;
  background-color: grey;
}

img {
  width: 100%;
  height: ;
}

h3 {
  color: yellow;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}