.App {
  text-align: center;
  color:white;
  background-color: black;
}


img {
  width: 100%; /* There is something wrong here */
  height: auto;
}

.container {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.item {
  flex: 1;
  max-width: 600px; /*added this to fix the problem of some images being larger, but different heights */
  padding: 10px;
  position: relative;
  border: 1px solid red;
  overflow: hidden; 
  /* Add the overflow property to the parent*/
}

.overlay {
  position: absolute;
  bottom: -150px;
  left: 0px;
  width: 100%;
  border-radius: 10px;
  background-color: red;
  opacity: .8;
  transition: bottom 0.5s ease;
}

.item:hover .overlay {
  display: block;
  bottom: -8px;
  /* Why is animation different if added here?*/
}
