.App {
  text-align: center;
  background-color: grey;
}

.container {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.container img {
  width: 100%;
}

.item { /*fix me -- images are not 100%*/
  flex: 1;
  height: 200px;
  width: 150px;
  padding: 30px;
  position: relative;
  border: 1px solid green;
  overflow: hidden; 
  /* Add the overflow property to the parent*/
}

.overlay {
  position: absolute;
  bottom: -130px;
  left: 0px;
  width: 100%;
  border-radius: 10px;
  background-color: pink;
  opacity: .6;
  transition: bottom 0.5s ease;
}

.item:hover .overlay {
  display: block;
  bottom: 0px;
  /* Why is animation different if added here?*/
}
